.main
    height: 410px
    width: 610px
    padding: 42px 39px
    position: fixed
    top: calc( 50% - 205px)
    left: calc( 50% - 305px )
    box-shadow: 0px 4px 40px 0px #C8C8C8
    display: grid

.answers
    display: flex
    flex-wrap: wrap
    gap: 10px
    .answer
        padding: 0 25px
        border-radius: 100px
        border: 1px solid #1E5D68
        display: grid
        justify-items: center
        align-items: center

    .answer__selected
        background: linear-gradient(0deg, #1E5D68, #1E5D68) linear-gradient(0deg, #EDF8FA, #EDF8FA)
