.main
    background-image: url('../../assets/auth/bg.png')
    background-repeat: no-repeat
    background-size: cover
    .container
        width: 1280px
        height: 100vh
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr 1fr
        justify-items: center
        align-items: center

.credit_card
    position: absolute
    bottom: 0

.money_chart
    position: absolute
    left: 64px
    top: -84px
    width: 300px
    height: 350px
    transform: rotate(8deg)

// Left section
.text_box
    height: 500px
    & div
        margin-bottom: 28px
        font-weight: 700

    .text_one
        color: #D7D7D7
        font-size: 1.875rem

    .text_two
        color: #B1B1B1
        font-size: 2.5rem

    .text_three
        color: #B1B1B1
        font-size: 2.625rem

    .text_four
        color: #3C3C3C
        font-size: 3.25rem

    .text_five
        color: #B1B1B1
        font-size: 2.625rem

    .text_six
        color: #B1B1B1
        font-size: 2.5rem

    .text_seven
        color: #D7D7D7
        font-size: 1.875rem

.error_text
    text-align: center
    color: #A60F0F
    margin-bottom: 20px
