.header
    display: flex
    align-items: center
    margin-top: 35px
    margin-bottom: 40px
    .header_title
        font-size: 42px
        font-weight: 700
        color: #1E2223
        margin-right: 18px
    .header_date
        font-size: 22px
        color: #1E2223
        border-radius: 12px
        padding: 14px 16px
        background-color: #fff

.content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    margin-top: 16px
    gap: 8px