.main
    width: 400px
    height: 585px
    border-radius: 20px
    background-color: #fff
    padding: 0 40px

    font-size: 16px
    font-weight: 500

    .container
        width: 320px

.logo
    width: 223.1px
    height: 30.3px
    margin: 40px

.tabs
    height: 51px
    margin: 0 auto
    background-color: #F6F6F6
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    font-weight: 500
    font-size: 15px
    border-radius: 10px
    justify-items: center

    .enter
        display: grid
        justify-content: center
        align-items: center
        gap: 6px
        height: 39px
        font-size: 15px
        padding: 0 25px
        width: 150px
        background-color: #fff
        border-radius: 6px
        margin: 6px

.inputs
    display: grid
    margin-top: 16px

    .email_block, .password_block
        width: 100%

    .email, .password
        height: 60px
        border: 1.4px solid #E6E6E6
        border-radius: 10px
        margin-bottom: 10px
        width: 100%
        padding: 24px

.forgot_password
    text-align: end
    font-size: 14px
    color: #1E5D68
    margin-bottom: 20px
    cursor: pointer

.enter_block
    height: 60px
    border-radius: 10px
    display: grid
    align-items: center
    justify-content: center
    background-color: #EDEDED
    margin-bottom: 36px

    .enter_button
        font-size: 16px
        font-weight: 700
        color: #888888
        margin: 10px
        border: none

.enter_with_block
    text-align: center
    color: #1E5D68
    margin-bottom: 15px

.socials
    display: grid
    grid-template-columns: repeat(4, 45px)
    align-items: center
    justify-content: center
    justify-items: center
    gap: 14px
