.input_block
    position: relative
    .label
        display: block
        margin-bottom: 10px
        color: #888888
        font-size: 12px
    .input
        padding: 10px 10px
        border: 1px solid #1E5D68
        border-radius: 8px
        width: 100%
        color: #141414
        height: 40px
        font-size: 15px
    .ruble_block
        position: absolute
        right: 6px
        bottom: 7%
        border-radius: 6px
        width: 30px
        height: 30px
        background: #E2F4F8
        display: grid
        align-items: center
        justify-content: center
        .ruble
            width: 11px
            height: 11px
