.main
    height: 480px
    width: 590px
    position: fixed
    top: calc( 50% - 240px )
    left: calc( 50% - 245px )
    border: 1px solid #000
    display: grid
    padding: 42px 29px
    border-radius: 20px

.answers
    height: 200px
    display: grid
    margin-top: 35px
    margin-bottom: 25px
    gap: 5px
    .answer
        display: inline-block
        border: 1px solid #B7B7B7
        color: #1E2223
        padding: 14px
        border-radius: 100px
        cursor: pointer
