.main
    display: grid
    position: fixed
    box-shadow: 0px 4px 40px 0px #C8C8C8
    // border-radius: 20px
    padding: 42px 30px
    background-color: #fff

.step_number
    display: grid
    align-items: center
    justify-content: center
    width: 47px
    height: 31px
    margin-bottom: 24px
    background-color: #E2F4F8
    color: #383838
    font-weight: 500

.question
    color: #1E2223
    font-size: 20px
    font-weight: 700

.progress
    display: flex
    gap: 2.5px
    margin-bottom: 24px
    .progress_bar
        width: 45px
        height: 6px
        border-radius: 100px

    .progress_bar__fill
        background-color: #1E5D68
    .progress_bar__empty
        background-color: #F5F8FD

.nav_buttons
    display: flex
    align-self: end
    align-items: center
    justify-content: end
    gap: 10px
    .button_next
        display: block
        width: 95px
        height: 45px
        padding: 12px 24px
        color: #fff
        background-color: #1E5D68
        text-decoration: none
    .button_skip
        margin-right: 20px
        color: #1E5D68
    .button_back
        margin-right: auto
        padding: 12px 24px 12px 20px
        background: #556A7F
        color: #556A7F !important
        &::before
            background: #F6F6F6
    .button_next__disabled
        pointer-events: none
        background-color: #F6F6F6
        color: #556A7F

.answers
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 10px
    .answer
        display: grid
        align-items: center
        justify-content: center
        padding: 10px 20px
        cursor: pointer
        background: #B7B7B7
        &::before
            background: #fff

.answer__active
    display: grid
    gap: 10px
    color: #1E5D68 !important
    grid-template-columns: 16px 1fr
    &::before
        background: #e8f3f5 !important
 