.main
    margin-top: 20px
    display: flex
    gap: 37px
    background-color: yellow

.icon
    position: relative
    display: flex
    padding: 3px
    border: 4px solid #1F6572
    border-radius: 50%
    img
        width: 86px
        height: 86px
        border-radius: 50%
    .plus
        position: absolute
        bottom: -10px
        left: 25%
        width: 45px
        height: 28px
        display: grid
        align-items: center
        justify-content: center
        color: #fff
        font-weight: 700
        font-size: 13px
        background: linear-gradient(269.5deg, #1E5E6A 0%, #228192 100%)
        border-radius: 8px

.info
    .name__block
        display: flex
        align-items: center
        gap: 10px
    .name__text
        font-size: 42px
        font-weight: 700
        color: #1E2223
    .edit
        width: 45px
        height: 45px
        display: grid
        align-items: center
        justify-content: center
        background-color: #fff
        border-radius: 8px
        cursor: pointer
        svg
            width: 24px
            height: 24px
    .id
        font-size: 18px
        color: #515151
