.main
    padding: 34px 30px
    background: #fff
    min-width: 600px
    border-radius: 24px
    color: #1E2223
    .title
        font-weight: 700
        font-size: 28px
        margin-bottom: 36px

.items
    .item
        display: grid
        grid-template-columns: 100px auto
        align-items: center
        margin-bottom: 30px
        .value
            justify-self: start
            background-color: #E2F4F8
            padding: 6px 10px
            border-radius: 6px
            font-weight: 500
            font-size: 16px
        .change_password
            display: inline
            color: #1E5D68
            text-decoration: underline
            cursor: pointer
